body{
  background-color: rgb(171, 243, 227);
}

h1{
  color: rgb(23, 23, 133);
  font-weight: bold;
  text-align: center;
}

h2{
  color:rgb(123, 43, 126);
}

button{
  background-color: rgb(89, 255, 233);
  border-radius: 15px;
  font-size: 18px;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  background-color: rgba(14, 71, 124, 0.3);
  width: 25%;
  margin: auto;
  border-radius: 30px;
}

p{
  text-align: center;
  font-weight: bold;
}

.nav{
  text-align: center;
}